adf-pipeline-project-tollpass/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-pipeline-project-tollpass"
		},
		"hourly_trigger_properties_Tollpass_Pipeline_parameters_event_date": {
			"type": "string",
			"defaultValue": "@formatDateTime(trigger().startTime, 'yyyy-MM-dd')"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_snowflake_stg_vehicle_profiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake_DB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [
					{
						"name": "VEHICLE_ID",
						"type": "VARCHAR"
					},
					{
						"name": "FIRST_LICENSE_PLATE",
						"type": "VARCHAR"
					},
					{
						"name": "FIRST_SEEN_TYPE",
						"type": "VARCHAR"
					},
					{
						"name": "FIRST_ENTRY_POINT",
						"type": "VARCHAR"
					},
					{
						"name": "FIRST_EVENT_DATE",
						"type": "DATE"
					}
				],
				"typeProperties": {
					"schema": "SILVER_LAYER",
					"table": "STG_VEHICLE_PROFILES"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tollpass_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Avro-to-Parquet",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/omar123915@hotmail.com/Avro to Parquet (Delta)",
							"baseParameters": {
								"event_date": {
									"value": "@pipeline().parameters.event_date",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Gen2toBlob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Avro-to-Parquet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "transaction_id",
											"type": "Int32",
											"physicalType": "INT32"
										},
										"sink": {
											"name": "TRANSACTION_ID",
											"type": "Int64",
											"physicalType": "NUMBER",
											"scale": 0,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "vehicle_id",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VEHICLE_ID",
											"type": "String",
											"physicalType": "VARCHAR"
										}
									},
									{
										"source": {
											"name": "license_plate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "LICENSE_PLATE",
											"type": "String",
											"physicalType": "VARCHAR"
										}
									},
									{
										"source": {
											"name": "vehicle_type",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VEHICLE_TYPE",
											"type": "String",
											"physicalType": "VARCHAR"
										}
									},
									{
										"source": {
											"name": "toll_booth_id",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "TOLL_BOOTH_ID",
											"type": "String",
											"physicalType": "VARCHAR"
										}
									},
									{
										"source": {
											"name": "entry_point",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ENTRY_POINT",
											"type": "String",
											"physicalType": "VARCHAR"
										}
									},
									{
										"source": {
											"name": "exit_point",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "EXIT_POINT",
											"type": "String",
											"physicalType": "VARCHAR"
										}
									},
									{
										"source": {
											"name": "timestamp",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "TIMESTAMP",
											"type": "DateTime",
											"physicalType": "TIMESTAMP_NTZ"
										}
									},
									{
										"source": {
											"name": "payment_method",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "PAYMENT_METHOD",
											"type": "String",
											"physicalType": "VARCHAR"
										}
									},
									{
										"source": {
											"name": "toll_amount",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "TOLL_AMOUNT",
											"type": "Double",
											"physicalType": "FLOAT"
										}
									},
									{
										"source": {
											"name": "tag_valid",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										},
										"sink": {
											"name": "TAG_VALID",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "fraud_detected",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										},
										"sink": {
											"name": "FRAUD_DETECTED",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Gen2toBlob",
								"type": "DatasetReference",
								"parameters": {
									"event_date": "@utcNow('yyyy-MM-dd')"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_Parquet",
								"type": "DatasetReference",
								"parameters": {
									"event_date": {
										"value": "@utcNow('yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "BlobToSnowflake",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Gen2toBlob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "ls_blob_snowflake_stage",
									"type": "LinkedServiceReference"
								},
								"path": "snowflake-stage/event_date=2025-04-29"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TRANSACTION_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "TRANSACTION_ID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "VEHICLE_ID",
											"type": "String"
										},
										"sink": {
											"name": "VEHICLE_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LICENSE_PLATE",
											"type": "String"
										},
										"sink": {
											"name": "LICENSE_PLATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VEHICLE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "VEHICLE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TOLL_BOOTH_ID",
											"type": "String"
										},
										"sink": {
											"name": "TOLL_BOOTH_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ENTRY_POINT",
											"type": "String"
										},
										"sink": {
											"name": "ENTRY_POINT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EXIT_POINT",
											"type": "String"
										},
										"sink": {
											"name": "EXIT_POINT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TIMESTAMP",
											"type": "String"
										},
										"sink": {
											"name": "TIMESTAMP",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PAYMENT_METHOD",
											"type": "String"
										},
										"sink": {
											"name": "PAYMENT_METHOD",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TOLL_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "TOLL_AMOUNT",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "TAG_VALID",
											"type": "Boolean"
										},
										"sink": {
											"name": "TAG_VALID",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "FRAUD_DETECTED",
											"type": "Boolean"
										},
										"sink": {
											"name": "FRAUD_DETECTED",
											"type": "Boolean"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Blob_Parquet",
								"type": "DatasetReference",
								"parameters": {
									"event_date": {
										"value": "@utcNow('yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_snowflake_stg_toll_events",
								"type": "DatasetReference",
								"parameters": {
									"event_date": "@formatDateTime(utcNow(), 'yyyy-MM-dd')"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"event_date": {
						"type": "string",
						"defaultValue": "@utcNow('yyyy-MM-dd')"
					},
					"json_event_date": {
						"type": "string",
						"defaultValue": "@formatDateTime(utcNow(), 'yyyy-MM-dd')"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hourly_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Tollpass_Pipeline",
							"type": "PipelineReference"
						},
						"parameters": {
							"event_date": "[parameters('hourly_trigger_properties_Tollpass_Pipeline_parameters_event_date')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 60,
						"startTime": "2025-04-29T17:16:00",
						"timeZone": "Egypt Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Tollpass_Pipeline')]"
			]
		}
	]
}